:root {
	--surface-color: rgba(250, 175, 175, 0.51);
	--curve: 40;
	--background: rgba(224, 224, 224, 1);
	--text-color: rgba(97, 97, 97, 1);
}

@font-face {
	font-family: "myfont";
	src: url("./fonts/Kanit-Regular.ttf") format("truetype");
}
body {
	font-family: "myfont", sans-serif;
	box-sizing: border-box;
	background-color: var(--background);
	color: var(--text-color);
}
.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.account {
	display: flex;
	padding: 10%;
}
.logement,
.order {
	margin: auto;
	padding: 10%;
	background-color: var(--surface-color);
	border-radius: 5%;
}

.account .btn:hover {
	background-color: var(--background);
}

nav img {
	width: 10em;
}
nav {
	background-color: rgba(175, 175, 175, 1);
}
/* H1 */
h1 {
	text-align: center;
	/* margin-top: 3em; */
}
header {
	padding-bottom: 10em;
}
#nameArticle {
	width: 100%;
	position: fixed;
	z-index: 50;
	margin-top: 10.5em;
	opacity: 1;
}

/* a */
a {
	text-decoration: none;
	padding: 0.5em;
}
.sub {
	display: flex;
}
.btn {
	padding: 0.5em;
	margin: auto;
	color: var(--text-color);
	margin-bottom: 5%;
	font-size: 1em;
}
a:hover,
.btn:hover {
	color: var(--text-color);
	border-radius: 1em;
	background-color: var(--surface-color);
}

.formAddress {
	display: flex;
}

.addressCart {
	width: 50%;
	margin: auto;
}

/* Filter */
.filter a {
	display: inline-block;
	color: var(--text-color);
	margin: 1em;
}
.filter {
	text-align: center;
}
/* Paginator */
.page-link {
	color: var(--text-color);
	background-color: rgba(255, 255, 255, 0.404);
}
.page-item.disabled .page-link {
	color: var(--text-color);
	background-color: rgba(255, 255, 255, 0.404);
}
.page-link:hover {
	color: var(--text-color);
	background-color: var(--surface-color);
}
/* Cards */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
}
.card {
	position: relative;
	display: block;
	height: 100%;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
}
.card__image {
	width: 100%;
	height: auto;
}
.card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: calc(var(--curve) * 1px);
	background-color: var(--surface-color);
	transform: translateY(100%);
	transition: 0.2s ease-in-out;
}
.card:hover .card__overlay {
	transform: translateY(0);
}
.card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 2em;
	border-radius: calc(var(--curve) * 1px);
	background-color: var(--surface-color);
	transform: translateY(-100%);
	transition: 0.2s ease-in-out;
}
.card__arc {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 1;
}
.card:hover .card__header {
	transform: translateY(0);
}
.card__thumb {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.card__title {
	font-size: 1em;
	margin: 0 0 0.3em;
	color: var(--text-color);
}
.card__status {
	font-size: 0.8em;
	color: var(--text-color);
}
.card__description {
	padding: 0 2em 2em;
	margin: 0;
	color: var(--text-color);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
/* Panier */
.responsive-table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.responsive-table .table-header {
	background-color: var(--surface-color);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.responsive-table .table-row {
	background-color: rgba(255, 255, 255, 0.445);
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col1 img {
	width: 50%;
}
.responsive-table .col1,
.responsive-table .col3,
.responsive-table .col4,
.responsive-table .col5,
.responsive-table .col6,
.responsive-table .col7 {
	flex-basis: 9%;
}
.responsive-table .col2 {
	flex-basis: 25%;
}
@media screen and (max-width: 800px) {
	h1 {
		margin-top: 5em;
	}
	.responsive-table .table-header {
		display: none;
	}
	.responsive-table li {
		display: block;
	}
	.responsive-table .col {
		flex-basis: 100%;
		text-align: center;
		padding: 10px 0;
		align-items: center;
	}

	.responsive-table .col:before {
		color: rgba(108, 122, 137, 1);
		padding-right: 10px;
		content: attr(data-label);
		flex-basis: 50%;
		text-align: center;
	}
	.col1 img {
		width: 60%;
	}
	.account {
		display: block;
	}
	.logement,
	.order {
		text-align: center;
		padding: 10%;
		background-color: var(--surface-color);
		border-radius: 5%;
	}
	.order {
		margin-top: 5%;
	}
}

/* Basic Styling */

.descArticle {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	margin-top: 5%;
}

/* Columns */
.left-column {
	width: 65%;
	position: relative;
}

.right-column {
	width: 65%;
	margin-top: 3em;
	padding: 4em;
	background-color: var(--surface-color);
}

/* Left Column */
.left-column img {
	width: 80%;
	position: absolute;
	transition: all 0.3s ease;
}

/* Right Column */

/* Product Description */
.product-description {
	border-bottom: 1px solid rgba(225, 232, 238, 1);
	margin-bottom: 1em;
}
.product-description h2 {
	font-size: 2.6em;
	letter-spacing: -2px;
}
.product-description p {
	font-size: 1em;
	line-height: 1.2em;
}

/* Product Configuration */
.product-color span,
.cable-config span {
	font-size: 0.9em;
	margin-bottom: 1em;
	display: inline-block;
}

/* Product Color */
.product-color {
	margin-bottom: 1.5em;
}

.color-choose div {
	display: inline-block;
}

/* Cable Configuration */
.cable-choose {
	margin-bottom: 1em;
}

.cable-config {
	border-bottom: 1px solid var(--surface-color);
	margin-bottom: 1em;
}

/* Product Price */
.product-price {
	display: flex;
	align-items: center;
}
.product-price span {
	font-size: 26px;
	font-weight: 300;
	margin-right: 20px;
}

/* Responsive */
@media (max-width: 940px) {
	.descArticle {
		flex-direction: column;
		margin-top: 60px;
	}

	.left-column,
	.right-column {
		width: 100%;
	}

	.left-column img {
		width: 25%;
		right: 0;
		top: 400px;
		left: initial;
	}
}

@media (max-width: 535px) {
	.left-column img {
		display: none;
	}
}
