{% for article in field.value %}
	{%- set url = ea_url()
    .setController('Path\\To\\Your\\CategoryCrudController')
    .setAction('detail')
    .setEntityId(article.id)
  -%}
	<small>
		{{ article.name }}
		{% if not loop.last %},
		{% endif %}
	</small>
{% else %}
	<span class="badge badge-secondary">None</span>
{% endfor %}
